*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color:rgb(5, 5, 32); 
}
  
img {
    width: 15%; 
    height: auto; 
    display: block; 
}

.profilephoto {
    display: flex;
    align-content: center;
    height: 400px;
    width: 450px;
}

/* Animation for placeholder-glow */
.placeholder-glow {
    animation: glow-animation 2s infinite alternate;
  }
  
  @keyframes glow-animation {
    0% {
      color: #ffffff; /* Start color (white) */
      text-shadow: 0 0 10px #ffffff; /* Start glow effect */
    }
    100% {
      color: #00ffff; /* End color (cyan) */
      text-shadow: 0 0 20px #00ffff; /* End glow effect */
    }
  }
  
  /* Animation for placeholder-wave */
  .placeholder-wave {
    animation: wave-animation 2s infinite alternate;
  }
  
  @keyframes wave-animation {
    0% {
      transform: translateX(10px); /* Start position */
    }
    100% {
      transform: translateX(10px); /* End position */
    }
  }
  
.about {
    display: flex;
    align-content: center;
}







